/* reset */
* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box; }

main {
  background-color: whitesmoke; }

/* Header para celular */
header {
  height: 6rem;
  background-color: black;
  padding: 0rem; }
  header .navbar {
    padding: 0rem; }
    header .navbar .container-fluid {
      padding: 0.5rem 0rem;
      background-color: black; }
      header .navbar .container-fluid .navbar-brand {
        color: #a87b05;
        margin: 0rem;
        padding: 0rem;
        font-size: 1.7rem;
        width: 295.64px;
        height: 32px;
        font-family: 'Arimo', sans-serif; }
        header .navbar .container-fluid .navbar-brand img {
          width: 22%; }
      header .navbar .container-fluid .ajuste-menu {
        margin-left: 80%;
        margin-top: 1rem; }
        header .navbar .container-fluid .ajuste-menu .navbar-toggler {
          margin-bottom: 0.35rem;
          margin-left: 1rem;
          background-color: #8b6505;
          padding: 0rem; }
          header .navbar .container-fluid .ajuste-menu .navbar-toggler .navbar-toggler-icon {
            background-size: 55%; }
      header .navbar .container-fluid .offcanvas {
        width: 45%;
        height: 40%;
        background-color: #8b6505;
        border-bottom-left-radius: 1rem; }
        header .navbar .container-fluid .offcanvas .offcanvas-header .offcanvas-title {
          color: black; }
        header .navbar .container-fluid .offcanvas .offcanvas-body {
          color: black; }
          header .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .nav-copyright p {
            font-size: 0.5rem;
            margin: 1.5rem 0rem 0.2rem 0rem; }

.header-monitor {
  display: none; }

/* Header para tablet desde 800px */
@media screen and (min-width: 700px) {
  header {
    height: 12rem; }
    header .navbar .container-fluid {
      height: 194px; }
      header .navbar .container-fluid .navbar-brand img {
        width: 50%; }
      header .navbar .container-fluid .navbar-brand .titulo-golden {
        font-size: 3.5rem; }
      header .navbar .container-fluid .ajuste-menu {
        margin-top: 2rem; }
        header .navbar .container-fluid .ajuste-menu .navbar-toggler {
          width: 100%;
          padding: 0.5rem; }
          header .navbar .container-fluid .ajuste-menu .navbar-toggler .navbar-toggler-icon {
            background-size: 100%; }
      header .navbar .container-fluid .offcanvas {
        width: 35%;
        height: 37%; }
        header .navbar .container-fluid .offcanvas .offcanvas-header .offcanvas-title {
          font-size: 2rem; }
        header .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
          font-size: 1.5rem; }
        header .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .nav-copyright p {
          font-size: 1rem; } }

/* Header para monitor desde 1200px */
@media screen and (min-width: 1200px) {
  header {
    display: none; }
  .header-monitor {
    display: revert;
    background-color: black; }
    .header-monitor .titulo {
      display: flex;
      padding-top: 1rem;
      gap: 0.5rem;
      align-items: center; }
      .header-monitor .titulo img {
        width: 11%; }
      .header-monitor .titulo h1 {
        font-size: 4rem;
        color: #8b6505;
        font-family: 'Arimo', sans-serif; }
  .menu-monitor nav {
    text-align: left;
    padding: 0.7rem 1rem; }
    .menu-monitor nav ul {
      list-style: none; }
      .menu-monitor nav ul li {
        display: inline-block;
        font-size: 1.4rem;
        background-color: #a87b05;
        padding: 1px 5px 1px 5px;
        margin-top: 5px;
        margin-right: 0.5rem;
        box-shadow: 1px 1px 2px #e9b125;
        border-radius: 100px;
        text-shadow: 1px 1px 5px black;
        transition: 0.5s; }
        .menu-monitor nav ul li a {
          text-decoration: none;
          color: whitesmoke; }
      .menu-monitor nav ul li:hover {
        transform: scale(1.2); } }

/* Estilo de letras para todas las paginas */
body {
  font-family: 'Arimo', sans-serif; }

/* estilos para index-celular */
main {
  padding-top: 0rem; }
  main p {
    margin-bottom: 0rem; }
  main .bienvenidos {
    background-image: url(../img/img-cabina320.png);
    background-size: cover;
    height: 16rem; }
    main .bienvenidos .texto-bienvenidos {
      position: relative;
      color: whitesmoke;
      top: 50px;
      padding: 0.3rem 1rem 0rem 1rem; }
      main .bienvenidos .texto-bienvenidos h2 {
        margin-bottom: 0.1rem;
        font-size: 1.5rem; }
  main .contenedor .img-cessna .cessna {
    width: 100%; }
  main .contenedor .online {
    padding: 1rem 1rem; }
    main .contenedor .online h2 {
      color: #a01010;
      padding-bottom: 0.5rem; }
  main .contenedor .caracteristica1 {
    display: block;
    margin-left: 5.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem; }
  main .contenedor .caracteristica2 {
    display: block;
    margin-left: 5.5rem;
    margin-bottom: 1rem;
    align-items: center;
    display: flex; }
  main .contenedor .caracteristica3 {
    display: block;
    margin-left: 5.5rem;
    margin-bottom: 1rem;
    align-items: center;
    display: flex; }
  main .contenedor .caracteristica4 {
    display: block;
    margin-left: 5.5rem;
    padding-bottom: 1.5rem;
    align-items: center;
    display: flex; }
  main .contenedor .img-check {
    width: 8%;
    padding-right: 0.5rem;
    margin-top: 0.5rem;
    height: 10%;
    align-self: flex-start; }

/* mq index para tablet desde 800 a 1200px */
@media screen and (min-width: 800px) {
  main .bienvenidos {
    background-size: cover;
    height: 32rem; }
    main .bienvenidos .texto-bienvenidos {
      font-size: 1.5rem;
      position: relative;
      top: 10rem; }
      main .bienvenidos .texto-bienvenidos h2 {
        padding-bottom: 1rem;
        font-size: 2rem; }
  main .contenedor {
    font-size: 1.2rem;
    display: block;
    display: grid;
    margin: 0rem 0rem;
    padding: 3.5rem 0rem;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 50% 25% 25%;
    grid-template-areas: "img-cessna online online" "img-cessna caracteristica1 caracteristica2" "img-cessna caracteristica3 caracteristica4"; }
    main .contenedor .img-cessna {
      grid-area: img-cessna;
      width: 95%;
      justify-self: center; }
    main .contenedor .online {
      grid-area: online;
      align-self: center; }
    main .contenedor .caracteristica1 {
      grid-area: caracteristica1;
      margin-left: 1rem; }
      main .contenedor .caracteristica1 img {
        width: 12%;
        height: 25%;
        margin-top: 1.3rem; }
    main .contenedor .caracteristica2 {
      grid-area: caracteristica2;
      margin-left: 1rem; }
      main .contenedor .caracteristica2 img {
        width: 12%;
        height: 25%;
        margin-top: 1.3rem; }
    main .contenedor .caracteristica3 {
      grid-area: caracteristica3;
      margin-left: 1rem; }
      main .contenedor .caracteristica3 img {
        width: 12%;
        height: 25%;
        margin-top: 1.3rem; }
    main .contenedor .caracteristica4 {
      grid-area: caracteristica4;
      margin-left: 0.6rem;
      margin-right: 1rem;
      margin-bottom: 0rem; }
      main .contenedor .caracteristica4 img {
        width: 12%;
        height: 25%;
        margin-top: 1.3rem; } }

/* mq index para monitor desde 1200px */
@media screen and (min-width: 1200px) {
  body main .bienvenidos {
    height: 55rem; }
    body main .bienvenidos .texto-bienvenidos {
      font-size: 2rem;
      position: relative;
      top: 20rem; }
      body main .bienvenidos .texto-bienvenidos h2 {
        padding-bottom: 1rem;
        font-size: 3rem; }
  body main .contenedor .img-cessna {
    width: 75%; }
  body main .contenedor .online h2 {
    font-size: 2.2rem; }
  body main .contenedor .online p {
    font-size: 1.3rem; }
  body main .contenedor .img-check {
    width: 10%;
    align-self: center;
    margin-top: 0rem; } }

/* estilos de programas-celular */
main .programa .programa-texto {
  padding: 1rem;
  text-align: center; }
  main .programa .programa-texto .programa-titulo {
    margin-bottom: 0.5rem;
    font-size: 1.7rem; }
  main .programa .programa-texto .programa-parrafo {
    padding-bottom: 1rem;
    font-size: 1.1rem; }
  main .programa .programa-texto .programa-boton {
    border-radius: 1.5rem;
    padding: 0.3rem 0.7rem;
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: #a87b05; }

main .programa .programa-img img {
  width: 100%;
  margin-top: 0.5rem; }

main .cursos {
  text-align: center;
  align-items: center;
  padding: 1rem 2rem 3rem 2rem; }
  main .cursos .cursos-blanco {
    background-color: #a87b05;
    padding: 0rem 1.5rem 1rem 1.5rem; }
    main .cursos .cursos-blanco p {
      text-align: justify;
      padding-top: 1rem; }
  main .cursos .cursos-negro {
    color: whitesmoke;
    padding: 0rem 1.5rem 1rem 1.5rem;
    background-color: black; }
    main .cursos .cursos-negro p {
      text-align: justify;
      padding-top: 1rem; }
  main .cursos img {
    margin-top: 1.5rem;
    padding: 0rem 0.5rem 1rem 0.5rem;
    width: 20%; }

/* mq programas para tablet 800 a 1200 */
@media screen and (min-width: 800px) {
  main .programa {
    display: block;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center; }
    main .programa .programa-texto {
      width: 100%;
      text-align: center; }
      main .programa .programa-texto .programa-titulo {
        font-size: 2.3rem;
        padding-bottom: 1rem; }
      main .programa .programa-texto .programa-parrafo {
        font-size: 1.2rem;
        padding-bottom: 2rem; }
      main .programa .programa-texto .programa-boton {
        width: 50%;
        font-size: 1.7rem; }
    main .programa .programa-img {
      text-align: center; }
      main .programa .programa-img img {
        width: 85%;
        margin-top: 2rem;
        border: 5px solid black;
        border-radius: 5rem; }
  main .cursos {
    display: block;
    display: flex;
    margin-top: 5rem; }
    main .cursos .cursos-blanco {
      background-color: #a87b05;
      transition: 0.5s;
      padding: 0rem 0.5rem 1rem 0.5rem;
      align-items: center; }
      main .cursos .cursos-blanco h3 {
        padding: 0.5rem 0rem; }
      main .cursos .cursos-blanco p {
        padding: 0rem 0.5rem 1rem 0.5rem; }
    main .cursos .cursos-blanco:hover {
      transform: scale(1.1); }
    main .cursos .cursos-negro {
      background-color: black;
      color: whitesmoke;
      padding: 0rem .5rem 1rem 0.5rem;
      align-items: center;
      transition: 0.5s; }
      main .cursos .cursos-negro h3 {
        padding: 0.5rem 0rem; }
      main .cursos .cursos-negro p {
        padding: 0rem 0.5rem 1rem 0.5rem; }
    main .cursos .cursos-negro:hover {
      transform: scale(1.1); } }

/* mq programas para monitor desde 1200 */
@media screen and (min-width: 1200px) {
  main .programa {
    display: block;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    margin: 0rem 5rem; }
    main .programa .programa-texto {
      width: 60%;
      text-align: center; }
      main .programa .programa-texto .programa-titulo {
        font-size: 3rem;
        padding-bottom: 1rem; }
      main .programa .programa-texto .programa-parrafo {
        font-size: 1.5rem;
        padding-bottom: 2rem; }
      main .programa .programa-texto .programa-boton {
        width: 50%;
        font-size: 2rem; }
    main .programa .programa-img {
      text-align: center; }
      main .programa .programa-img img {
        width: 70%;
        margin-top: 2rem;
        border: 5px solid black;
        border-radius: 5rem; } }

/* estilos para ubicacion-celular */
body {
  background-color: whitesmoke; }

main .ajuste {
  padding: 1rem 1rem; }
  main .ajuste .direccion {
    margin: 0rem 0rem;
    padding: 1rem;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3); }
    main .ajuste .direccion h2 {
      padding-bottom: 0.5rem; }
  main .ajuste .googlemaps {
    padding-top: 1rem; }
    main .ajuste .googlemaps iframe {
      width: 100%; }
  main .ajuste .aeropuerto {
    margin: 1.7rem 0rem;
    padding: 1rem;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3); }
    main .ajuste .aeropuerto ul {
      padding-left: 1rem;
      list-style: circle; }
  main .ajuste .pista img {
    width: 100%;
    margin-bottom: 2rem; }

main .carousel {
  padding-bottom: 1rem; }

.footer-ubicacion {
  position: relative;
  margin-top: 1rem;
  bottom: 0px;
  width: 100%;
  font-family: 'Arimo', sans-serif; }
  .footer-ubicacion h4 {
    font-size: 1rem;
    margin: 0rem; }

/* mq ubicacion para tablet desde 800 a 1200px */
@media screen and (min-width: 800px) {
  header nav .menu-ubicacion .menu-opcion {
    height: 27.5px;
    padding: 0px 10px; }
  main .ajuste {
    padding: 2.5rem 8rem;
    text-align: center; }
    main .ajuste .direccion p {
      font-size: 1.5rem; }
    main .ajuste .aeropuerto ul li {
      list-style: none;
      font-size: 1.5rem; }
  main #carouselExampleCaptions {
    margin: 0rem 2rem; }
  .footer-ubicacion {
    position: relative;
    bottom: 0px;
    margin-top: 2rem; } }

/* mq ubicacion para monitor desde 1200px */
@media screen and (min-width: 1200px) {
  main .ajuste {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: "direccion aeropuerto" "maps pista";
    justify-items: center;
    align-items: center; }
    main .ajuste .direccion {
      grid-area: direccion;
      font-size: 1.5rem;
      padding: 1rem 1.5rem;
      box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3); }
    main .ajuste .googlemaps {
      grid-area: maps;
      padding: 0rem;
      width: 90%;
      align-self: start; }
    main .ajuste .aeropuerto {
      grid-area: aeropuerto;
      height: 194.4px;
      font-size: 1.7rem;
      padding: 1rem 3.5rem;
      box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3); }
    main .ajuste .pista {
      grid-area: pista; }
      main .ajuste .pista img {
        width: 90%; } }

/* estilos para eventos-celular */
.ajuste-eventos {
  padding: 1rem 1rem; }
  .ajuste-eventos .redes {
    font-size: 1.2rem;
    padding-bottom: 1rem; }
  .ajuste-eventos div .img-redes {
    list-style: none; }
    .ajuste-eventos div .img-redes li {
      padding-bottom: 0.5rem;
      text-decoration: none; }
      .ajuste-eventos div .img-redes li .fb {
        width: 4%; }
      .ajuste-eventos div .img-redes li .ig {
        width: 4%; }
      .ajuste-eventos div .img-redes li a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.668); }
  .ajuste-eventos .instagram {
    text-align: center;
    margin-top: 1rem; }
    .ajuste-eventos .instagram iframe {
      padding-bottom: 2rem; }

/* mq para eventos tablet desde 800 a 1200px */
@media screen and (min-width: 800px) {
  .ajuste-eventos {
    padding: 2rem 1.5rem; }
    .ajuste-eventos .redes {
      font-size: 1.5rem; }
    .ajuste-eventos div .img-redes {
      font-size: 1.5rem; }
      .ajuste-eventos div .img-redes li .fb {
        width: 3%; }
      .ajuste-eventos div .img-redes li .ig {
        width: 3%; }
    .ajuste-eventos .instagram {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly; }
      .ajuste-eventos .instagram div iframe {
        width: 370px;
        height: 550px; } }

/* mq para eventos monitor desde 1200px */
@media screen and (min-width: 1200px) {
  .ajuste-eventos {
    margin-top: 0rem; }
    .ajuste-eventos div .img-redes li .fb {
      width: 1.5%; }
    .ajuste-eventos div .img-redes li .ig {
      width: 1.5%; } }

/* estilos para contactanos-celular */
body .fondo {
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  height: 46rem; }
  body .fondo .contactanos {
    padding: 1rem;
    color: black; }
    body .fondo .contactanos p {
      font-size: 1.2rem;
      padding-top: 1rem; }
  body .fondo .espacio-formulario .formulario {
    width: 90%;
    text-align: center;
    background-color: #24303c;
    padding: 2rem;
    margin: 0.5rem 0rem 2rem 1rem;
    border-radius: 0.5rem;
    color: whitesmoke;
    box-shadow: 1rem 1rem 2rem black; }
    body .fondo .espacio-formulario .formulario h3 {
      font-size: 1.3rem;
      margin-bottom: 1.2rem; }
    body .fondo .espacio-formulario .formulario .botones {
      width: 100%;
      color: darkgoldenrod;
      background-color: #24303c;
      padding: 0.6rem;
      border-radius: 0.2rem;
      margin-bottom: 1rem;
      border: 1px solid #1f53c5;
      font-size: 1.1rem; }
    body .fondo .espacio-formulario .formulario p {
      height: 2.5rem;
      text-align: center;
      font-size: 1rem;
      line-height: 2rem; }
    body .fondo .espacio-formulario .formulario a {
      color: whitesmoke;
      text-decoration: none; }
    body .fondo .espacio-formulario .formulario a:hover {
      color: whitesmoke;
      text-decoration: underline; }
    body .fondo .espacio-formulario .formulario .registrar {
      width: 100%;
      background-color: #1f53c5;
      border: none;
      padding: 0.8rem;
      color: whitesmoke;
      font-size: 1rem; }

body .footer-especial {
  position: relative;
  width: 100%;
  bottom: 0%; }

/* mq para contactanos tablet desde 800 a 1200px */
@media screen and (min-width: 800px) {
  body .fondo {
    height: 50rem; }
    body .fondo .contactanos {
      padding: 2rem 2rem; }
      body .fondo .contactanos h2 {
        font-size: 2rem; }
      body .fondo .contactanos p {
        font-size: 1.5rem; }
    body .fondo .espacio-formulario {
      margin: 0% 10%; }
      body .fondo .espacio-formulario .formulario {
        width: 100%;
        margin: 1rem 0rem; } }

/* mq para contactanos monitor desde 1200px */
@media screen and (min-width: 1200px) {
  body .fondo {
    margin-top: 0rem; }
    body .fondo .contactanos {
      padding-top: 2rem;
      font-size: 1.3rem; }
      body .fondo .contactanos p {
        font-size: 1.4rem; }
    body .fondo .espacio-formulario {
      margin: 2% 35%; }
      body .fondo .espacio-formulario .formulario {
        width: 100%; } }

/* PRUEBA DE MQ DESKTOP FIRST */
/* estilos para footer monitor desde 1200px */
@media screen and (max-width: 4000px) {
  footer {
    background-color: black;
    color: aliceblue; }
    footer .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 2rem 0rem; }
      footer .footer .footer-resumen {
        width: 45%; }
        footer .footer .footer-resumen h4 {
          color: #a87b05;
          padding-bottom: 1.5rem;
          font-size: 1.5rem; }
        footer .footer .footer-resumen p {
          text-align: justify; }
      footer .footer .footer-programas h4 {
        color: #a87b05;
        padding-bottom: 1.5rem;
        font-size: 1.5rem; }
      footer .footer .footer-programas a {
        text-decoration: none;
        color: aliceblue;
        display: block;
        padding-bottom: 1rem;
        transition: 0.7s; }
      footer .footer .footer-programas a:hover {
        transform: scale(1.2); }
      footer .footer .footer-contacto h4 {
        color: #a87b05;
        padding-bottom: 1.5rem;
        font-size: 1.5rem; }
      footer .footer .footer-contacto a {
        text-decoration: none;
        color: aliceblue;
        display: block;
        padding-bottom: 1rem;
        transition: 0.7s; }
      footer .footer .footer-contacto a:hover {
        transform: scale(1.2); }
    footer .footer-redes {
      text-align: center;
      padding-bottom: 1.5rem; }
      footer .footer-redes a {
        padding-left: 1rem; }
        footer .footer-redes a img {
          width: 1.5%; }
    footer .autor {
      text-align: center;
      background-color: #11113e;
      color: whitesmoke; }
      footer .autor p {
        margin-bottom: 0rem; } }

/* footer para tablet de 800px a 1199px */
@media screen and (max-width: 1199px) {
  footer .footer-redes a img {
    width: 3.5%; } }

/* footer para celular de 0px a 799px */
@media screen and (max-width: 799px) {
  footer .footer {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    text-align: center; }
    footer .footer .footer-resumen {
      width: 70%; }
  footer .footer-redes a img {
    width: 7%; } }
