/* reset */
*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}
// import para color de body
@import "utilidades/variables";
// Import de mixin
@import "utilidades/mixin";
main{
    background-color: $color-fondo;
}
/* Header para celular */
header{
    height: 6rem;
    background-color: black;
    padding: 0rem;
    .navbar{
        padding: 0rem;
        .container-fluid{
            padding: 0.5rem 0rem;
            background-color: black;
            .navbar-brand{
                color: #a87b05;
                margin: 0rem;
                padding: 0rem;
                font-size: 1.7rem;
                width: 295.64px;
                height: 32px;
                font-family: 'Arimo', sans-serif;
                img{
                    width: 22%;
                }
            }
            .ajuste-menu{
                margin-left: 80%;
                margin-top: 1rem;
                .navbar-toggler{
                    margin-bottom: 0.35rem;
                    margin-left: 1rem;
                    background-color: #8b6505;
                    padding: 0rem;
                    .navbar-toggler-icon{
                        background-size: 55%;
                    }             
                }
            }
            .offcanvas{
                width: 45%;
                height: 40%;
                background-color: #8b6505;
                border-bottom-left-radius: 1rem;
                .offcanvas-header{
                    .offcanvas-title{
                        color: black;
                    }
                }
                .offcanvas-body{
                    color: black;
                    .navbar-nav{
                        .nav-copyright{
                            p{
                                font-size: 0.5rem;
                                margin: 1.5rem 0rem 0.2rem 0rem;
                            }
                        }
                    }
                }
            }
        }
    }
    
}
.header-monitor{
    display: none;
}
/* Header para tablet desde 800px */
@media screen and (min-width: 700px){
    header{
        height: 12rem;
        .navbar{
            .container-fluid{
                height: 194px;
                .navbar-brand{
                    img{
                        width: 50%;
                    }
                    .titulo-golden{
                        font-size: 3.5rem;
                    }
                }
                .ajuste-menu{
                    margin-top: 2rem;
                    .navbar-toggler{
                        width: 100%;
                        padding: 0.5rem;
                        
                        .navbar-toggler-icon{
                            background-size: 100%;
                        }
                    }
                }
                .offcanvas{
                    width: 35%;
                    height: 37%;
                    .offcanvas-header{
                        .offcanvas-title{
                            font-size: 2rem;
                        }
                    }
                    .offcanvas-body{
                        .navbar-nav{
                            .nav-item{
                                .nav-link{
                                    font-size: 1.5rem;
                                }
                            }
                            .nav-copyright{
                                p{
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* Header para monitor desde 1200px */
@media screen and (min-width: 1200px){
    header{
        display: none;
    }
    .header-monitor{
        display: revert;
        background-color: black;
        .titulo{
            display: flex;
            padding-top: 1rem;
            gap: 0.5rem;
            align-items: center;
            img{
                width: 11%;
            }
            h1{
                font-size: 4rem;
                color: #8b6505;
                font-family: 'Arimo', sans-serif;
            }
        }
    }
    .menu-monitor{
        nav{
            text-align: left;
            padding: 0.7rem 1rem;
            ul{
                list-style: none;
                li{
                    display: inline-block;
                    font-size: 1.4rem;
                    background-color: #a87b05;
                    padding: 1px 5px 1px 5px;
                    margin-top: 5px;
                    margin-right: 0.5rem;
                    box-shadow: 1px 1px 2px #e9b125;
                    border-radius: 100px;
                    text-shadow: 1px 1px 5px black;
                    transition: 0.5s;
                    a{
                        text-decoration: none;
                        color: whitesmoke;
                    }
                }
                li:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}
/* Estilo de letras para todas las paginas */
body{
    font-family: 'Arimo', sans-serif;
}
// Import para pagina index
@import "html/index";
// Import para programas
@import "html/programas";
// Import para ubicacion
@import "html/ubicacion";
// Import para eventos
@import "html/eventos";
// Import para contactanos
@import "html/contactanos";
/* PRUEBA DE MQ DESKTOP FIRST */
/* estilos para footer monitor desde 1200px */
@media screen and (max-width: 4000px){
    footer{
        background-color: black;
        color: aliceblue;
        .footer{ 
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 2rem 0rem;
            .footer-resumen{
                width: 45%;
                h4{
                    color: #a87b05;
                    padding-bottom: 1.5rem;
                    font-size: 1.5rem;
                }
                p{
                    text-align: justify;
                }
            }
            .footer-programas{
                h4{
                    color: #a87b05;
                    padding-bottom: 1.5rem;
                    font-size: 1.5rem;
                }
                a{
                    text-decoration: none;
                    color: aliceblue;
                    display: block;
                    padding-bottom: 1rem;
                    transition: 0.7s;
                }
                a:hover{
                    transform: scale(1.2);
                }
            }
            .footer-contacto{
                h4{
                    color: #a87b05;
                    padding-bottom: 1.5rem;
                    font-size: 1.5rem;
                }
                a{
                    text-decoration: none;
                    color: aliceblue;
                    display: block;
                    padding-bottom: 1rem;
                    transition: 0.7s;
                }
                a:hover{
                    transform: scale(1.2);
                }
            }
        }
        .footer-redes{
            text-align: center;
            padding-bottom: 1.5rem;
            a{
                padding-left: 1rem;
                img{
                    width: 1.5%;
                }
            }
        }
        .autor{
            text-align: center;
            background-color: rgb(17, 17, 62);
            color: whitesmoke;
            p{
                margin-bottom: 0rem;
            }
        }
    }
}

/* footer para tablet de 800px a 1199px */
@media screen and (max-width: 1199px){
    footer{
        .footer-redes{
            a{
                img{
                    width: 3.5%;
                }
            }
        }
    }
}
/* footer para celular de 0px a 799px */
@media screen and (max-width: 799px){
    footer{
        .footer{
            flex-direction: column;
            gap: 1.5rem;
            align-items: center;
            text-align: center;
            .footer-resumen{
                width: 70%;
            }
        } 
        .footer-redes{
            a{
                img{
                    width: 7%;
                }
            }
        }    
    }
}

