/* estilos para eventos-celular */
.ajuste-eventos{
    padding: 1rem 1rem;
    .redes{
        font-size: 1.2rem;
        padding-bottom: 1rem;
    }
    div{
        .img-redes{
            list-style: none;
            li{
                padding-bottom: 0.5rem;
                text-decoration: none;
                .fb{
                    width: 4%;
                }
                .ig{
                    width: 4%;
                }
                a{
                    text-decoration: none;
                    color: rgba(0, 0, 0, 0.668);
                }         
            }
        }
    }
    .instagram{
        text-align: center;
        margin-top: 1rem;
        iframe{
            padding-bottom: 2rem;
        }
    }
}
/* mq para eventos tablet desde 800 a 1200px */
@media screen and (min-width: 800px){
    .ajuste-eventos{
        padding: 1rem 1.5rem;
        margin-top: 3rem;
        .redes{
            font-size: 1.5rem;
        }
        div{
            .img-redes{
                font-size: 1.5rem;
                li{
                    .fb{
                        width: 3%;
                    }
                    .ig{
                        width: 3%;
                    }
                }
            }
        }
        .instagram{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            div{
                iframe{
                    width: 370px;
                    height: 550px;
                }
            }
        }
    }
}
/* mq para eventos monitor desde 1200px */
@media screen and (min-width: 1200px){
    .ajuste-eventos{
        margin-top: 0rem;
        .redes{
        }
        div{
            .img-redes{
                li{
                    .fb{
                        width: 1.5%;
                    }
                    .ig{
                        width: 1.5%;
                    }
                }
            }
        }
    }
}
